<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 2.0//EN"

 "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>
	<session-factory>
        <!-- properties -->
        <!-- property name="connection.datasource">my/first/datasource</property-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- property name="transaction.factory_class">
            net.sf.hibernate.transaction.JTATransactionFactory
        </property>
        <property name="jta.UserTransaction">java:comp/UserTransaction</property-->

        <!-- mapping files -->
        <mapping resource="SimpleGift.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
<!-- hibernate-mapping package="com.mpages.domain">
	<class name="SimpleGift">
		<id name="id" type="integer"/>
		<property name="name"/>
		<property name="price"/>
	</class>
</hibernate-mapping-->